
.homepage {
    background: #0D99FF;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.homepage-header {
    background-color: #0D99FF;
    display: flex;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 1% 0 0 5%;
    gap: 10px;
}

.homepage-header img {
    width: 80px;
    height: 80px;
}

.homepage-bank-title {
    color: white;
    text-shadow: 1.4px 1.4px 0px rgba(23, 23, 23, 0.82);
    font-size: 48px;
    font-weight:900;
    font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.homepage-bank-slogan {
    color:white;
    font-size: 14px;
    position: absolute;
    margin-top: 60px;
    margin-left: 93px;
    transform: rotate(0deg);
    z-index: 99;
    white-space: nowrap;
}

.bottom-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.login-button, .signup-button {
    padding: 15px 45px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1a3b4a;
    color: white;
}

.signup-button {
    position: relative;
    left: 45%;
}

.homepage-content {
    width: 70%;
    height: 100%;
    border-radius: 150px 350px 350px 0;
    background: #8fc9f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-content h1, .homepage-content p {
    margin-bottom: 20px;
    margin-left: 200px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
}

/* .homepage-content h1 {
    color: white;
    text-shadow: 1.4px 1.4px 0px rgba(23, 23, 23, 0.82);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
 */
.homepage-content h1 {
    width: 60%;
    text-shadow: 1.4px 1.4px 0px rgba(23, 23, 23, 0.82);
    color: white;
    margin-top: 150px;
    font-size: 60px;
    font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.homepage-content p {
    color: white;
}

.login {
    display: inline-block;
    padding-top: 150px;
    padding-left: 7%;
    width: 20%;
    height: 50vh;
    background: #0D99FF;
}

.forgot-pass-container {
    margin-top: 10px;
}

.login-fields {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login-fields p {
    color: white;
}

.login-fields input {
    height: 25px;
    width: 200px;
}

.login h1 {
    font-size: 250%;
    color: white;
    width: 5vw;
}

@media(max-width:1280px) {
    .homepage-content h1, .homepage-content p {
        margin-left: 180px;
    }
    .homepage-header img {
        width: 60px;
        height: 60px;
    }
    .homepage-bank-title {
        font-size: 35px;
    }
    .homepage-bank-slogan {
        margin-top: 45px;
        margin-left: 72px;
        font-size: 12px;
    }
}
@media(max-width:1024px) {
    .homepage-content h1, .homepage-content p {
        margin-left: 100px;
    }
    .homepage-content h1 {
        font-size: 45px;
    }
    .homepage-content p {
        font-size: 15px;
    }
    .login {
        margin-right: 50px;
    }
    .homepage-bank-title {
        font-size: 25px;
      }
      .homepage-bank-slogan {
        margin-top: 30px;
        margin-left: 60px;
        font-size: 12px;
    }
    .homepage-logo img {
        width: 48px;
        height: 48px;
      }
}
@media(max-width:800px) {
    .homepage-content {
        background: none;
        margin-top: -100px;
        width: 900px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-left: 230px;

    }
    .homepage-content h1 {
        font-size: 40px;
        text-align: center;
    }
    .homepage-content p {
        font-size: 13px;
        text-align: center;
        margin-left: -170px;
    }
    .bottom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .login {
        padding-top: 0px;
        margin-top: -50px;
    }
    .login h1 {
        font-size: 35px;
    }
    .signup-button {
        position: absolute;
    }
    .forgot-pass-container {
        width: 500px;
    }
    .login-button {
        margin-left: 31px;
    }
    .homepage-header img {
        width: 48px;
        height: 48px;
      }
}
@media(max-width:700px) {
    .homepage-content {
        margin-left:200px;
    }
}
@media(max-width:650px) {
    .homepage-content {
        margin-left:170px;
    }
    .homepage-content h1 {
        font-size: 40px;
        text-align: center;
    }
    .homepage-content p {
        font-size: 13px;
        text-align: center;
        margin-left: -170px;
    }
    .login {
        margin-left: -40px;
    }
    .signup-button {
        margin-left: -20px;
    }
}
@media(max-width:600px) {
    .homepage-content {
        margin-left: 30px;
    }
    .homepage-content h1 {
        font-size: 30px;
        margin-left: 200px;
        width: 90vw;
        text-align: center;
    }
    .homepage-content p {
        font-size: 13px;
        margin-left: 200px;
        width: 90vw;
        text-align: center;

    }
}
@media(max-width:550px) {
    .homepage-content {
        margin-left: 30px;
    }
    .homepage-content h1 {
        font-size: 25px;
        margin-left: 220px;
        width: 90vw;
    }
    .homepage-content p {
        font-size: 12px;
        margin-left: 220px;
        width: 90vw;

    }
}
@media(max-width:500px) {
    .bottom-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .homepage-content{
        display: none;
    }
    .login {
        padding-top: 0px;
        margin-top: 50px;
        margin-left: -90px;
    }
}